<a href="https://colab.research.google.com/github/CeldrikDelgado/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=7
b=6

print(10>9)
print(10<9)
print(a>b)

True
False
True

Bool() Function

In [ ]:
print(bool("Celdrik"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [ ]:
def my_Function():
  return True
print(bool(1))

True

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

True

Application

In [ ]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10/5)
print(10*5)
print(10%3)
print(10//3)
print(10**2)

15
5
2.0
50
1
3
100

Bitwise Operators

In [ ]:
c=60 #binary 0011 1100
d=13 #binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [ ]:
h=True
l=False

h and l
h or l
not (h or l)

False

In [ ]:
x=100
x+=3 # Same as x=x+3, x=100+3=103
print(x)

x-=3 # Same as x=x-3
x*=3 # Same as x=x*3
x/=3 # Same as x=x/3
x%=3 # Same as x=x%3

103

IDENTITY OPERATOR

In [ ]:
h is l
h is not l

True

Control structure if statement

In [ ]:
# This is formatted as code

In [ ]:
if h is l:
  print("False")

In [ ]:
if a>b:
  print("a is greater than b")

if statement

In [ ]:
if a<b:
  print(" a is less than b")
elif a>b:
  print(" a is greater than b")
else:
  print(" a is equal to b")

 a is less than b

Short hand if statement

In [ ]:
if a==b: 
  print(" a is equal to b")

short hand if...else statement

In [ ]:
a=10
b=9
print(" a is greater than b")if a>b else print("b is greater than a")

 a is greater than b

And

In [ ]:
if a>b and b==b:
   print("both conditions are True")

both conditions are True

Or

In [ ]:
if a>b and b==b:
  print("the condition is True")

the condition is True

Nested if

In [ ]:
x=int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
      else:
        print("but not above 40")
        if x>50:
          print("but no above 50")
        else:
           print("but not above 50")

50
x is above 10
and also above 20
and also above 30
and also above 40

Loop statement

In [ ]:
week=['Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday']
print('Sunday')

Sunday

While statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1 #Same as i+1

1
2
3
4
5

Application 3: Create a python program that displays number 3 using break statement

In [ ]:
a=3
while a<4:
 print(a)
 a+=3 #Same as i+3

3